.board-row {
    display: grid;
    grid-template-columns: 72px 73px 66px;
    justify-content: center;

}

.status {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px
}

.reset-game {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}